.injected .rst-versions.rst-badge {
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    max-width: unset;
}

.injected .rst-versions.rst-badge .rst-current-version {
    text-align: right;
}

.injected .rst-versions.rst-badge .rst-current-version .fa-book {
    float: left;
}

#flyout-search-form input {
    width: 100%;
}
